.idea
*.iml
*.jar

*.class*
*.classpath
*.project
*.settings

client/.gradle
client/gradle
client/build
client/bin

server/.gradle
server/gradle
server/build
server/bin

*gradle-wrapper.properties
*gradlew*
.gradle